{{ mixture|length }}		NC{% if ii %}
0       nplus{% endif %}{% if t and p %}
TP                Spec    TP:TPz(K,bar) ; TV:Tvz(K,L/mol){% elif t and v %}
TV              Spec    TP:TPz(K,bar) ; TV:Tvz(K,L/mol){% elif ii %}
isoV            Spec    v(k), ts and ps {% endif %}
{% for fraction in mixture.z %}{{fraction}}  {% endfor %}		z1,z2...zNC{% if t and p %}
{{ t }}		T(K)
{{ p.0 }}		P(bar){% elif t and v %}
{{ t }}     T(K)
{{ v.0 }}     v(L/mol){% elif ii %}
{{ ii.v }}   {{ ii.ts }}    {{ ii.ps }}
{{ ii.t_sup }}  {{ ii.t_step }}  {{ ii.t_inf }}  {% endif %}
{{ eos.MODEL_ID }}				NMODEL (1:SRK / 2:PR / 3:RKPR)
0  {{ nTdep }}			ncomb, nTdep
{% for c in compounds %}{{ c.name }}({{ forloop.counter }})
{{ c.tc }}  {{ c.pc }} {{ c.acentric_factor }}  {{ c.vc }} {{ c.vc_rat|default:1.16 }}          tc, pc, ohm, vc, zrat
{{ c.params }}		ac, b, delta1, k{% if forloop.counter > 1 %}{% if c.kij_ %}
{{ c.kij_ }} 		kij{% endif %}{% if c.k0_ %}
{{ c.k0_ }}          k0{% endif %}{% if c.tstar_ %}
{{ c.tstar_ }}       tstar{% endif %}
{{ c.lij_ }} 		lij{% endif %}
{% endfor %}{% if t and p|length > 1 %}{% for p_ in p %}{% if not forloop.first %}{{ p_ }}{% endif %}
{% endfor %}{% endif %}{% if t and v|length > 1 %}{% for v_ in v %}{% if not forloop.first %}{{ v_ }}{% endif %}
{% endfor %}{% endif %}{% if t and p or v %}0.0{% endif %}
